.header {
    background-color: maroon;
    padding: 5px;
  }

.inline-block{
    display: inline-block;
    background-color: white;
    padding: 15px;
    width: 150px;
    text-align: center;

  }

  .leftBar{
      width: 29%;
      height: 500px;
      float: left;
      background-color: orange;
  }

  .rightBar{
    width: 70%;
    height: 500px;
    float: left;
    background-color: blue;

  }

  .topContainer{
    background-color: purple;
    display: inline;
  }

  .bottomContainer{
    background-color: gold;

  }